<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/style/cadastro.css">
</head>
<body>
    <h1>Cadastro</h1>
    <div class="content">
        <form id="cadastro-form">
            <input type="text" placeholder="Seu nome" id="name">
            <input type="email" placeholder="Seu email" id="email">
            <input type="password" placeholder="Sua senha" id="password">
            <button id="btn" type="submit">Cadastrar</button>
        </form>
    </div>
<script src="/src/cadastro.js"></script>
</body>
</html>
