<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="./css/cadastro.css">
</head>
<body>
    <h1>Cadastro</h1>
    <div class="content">
        <form>
            <input type="text" placeholder="You name" id="name">
            <input type="number" placeholder="You age" id="age">
            <input type="email" placeholder="You email" id="email">
        </form>
        <button type="button" id="btn">Click</button>
        <p id="feedback"></p>
        <a href="./login.html">Ir para login</a>
    </div>
    <script type="module" src="./scripts/view_cadastro.js"></script>
</body>
</html>
