<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <h1>Login</h1>
    <div class="content">
        <form>
            <input type="text" placeholder="You name" id="name">
            <input type="email" placeholder="You email" id="email">
        </form>
        <button type="button" id="btn">Click</button>
        <p id="feedback"></p>
        <a href="./cadastro.html">Ir para cadastro</a>
    </div>
    <script type="module" src="./scripts/view_login.js"></script>
</body>
</html>
